<div class="show-current-style">
  <h2>
    {{#if editingName}}
      {{text-field value=model.name autofocus="true"}}
      {{d-button action="finishedEditingName" class="btn-primary btn-small submit-edit" icon="check"}}
      {{d-button action="cancelEditingName" class="btn-small cancel-edit" icon="times"}}
    {{else}}
      {{model.name}} <a {{action "startEditingName"}}>{{fa-icon "pencil"}}</a>
    {{/if}}
  </h2>

  <h3>Color Scheme</h3>
  <p>Select your Color Scheme </p>
  <p>{{combo-box content=colorSchemes
                 nameProperty="name"
                 value=colorSchemeId
                 valueAttribute="id"}}
     {{#if colorSchemeChanged}}
        {{d-button action="changeScheme" class="btn-primary btn-small submit-edit" icon="check"}}
        {{d-button action="cancelChangeScheme" class="btn-small cancel-edit" icon="times"}}
     {{/if}}
  </p>
  {{#link-to 'adminCustomizeThemes.edit' model class="btn edit"}}{{i18n 'admin.customize.theme.edit'}}{{/link-to}}

  <h3>Custom HTML/CSS</h3>
  <p>Change specific CSS and HTML customization
  {{#link-to 'adminCustomizeThemes.edit' model.id "common" "scss" class="btn edit"}}{{i18n 'admin.customize.theme.edit'}}{{/link-to}}
  </p>

  {{#if availableChildThemes}}
    <h3>Child Themes</h3>
    <p>
      <ul>
        {{#each model.childThemes as |child|}}
          <li>{{child.name}} {{d-button action="removeChildTheme" actionParam=child class="btn-small cancel-edit" icon="times"}}</li>
        {{/each}}
      </ul>
    </p>
    {{#if selectableChildThemes}}
      <p>{{combo-box content=selectableChildThemes
                   nameProperty="name"
                   value=selectedChildThemeId
                   valueAttribute="id"}}

          {{#d-button action="addChildTheme" icon="plus"}}Add{{/d-button}}
      </p>
    {{/if}}
  {{/if}}

  <h3>Actions</h3>
  <p>
    {{#if model.default}}
      {{i18n "admin.customize.theme.clear_default_help"}}<br>
      {{d-button action="unmarkDefault" label="admin.customize.theme.clear_default"}}
    {{else}}
      {{i18n "admin.customize.theme.make_default_help"}}<br>
      {{d-button action="makeDefault" label="admin.customize.theme.make_default"}}
    {{/if}}
  </p>

  <a class="btn export" target="_blank" href={{downloadUrl}}>{{fa-icon "download"}} {{i18n 'admin.export_json.button_text'}}</a>

  {{d-button action="destroy" label="admin.customize.delete" icon="trash" class="btn-danger"}}
</div>
