<div class="show-current-style">
  <h2>
    {{#if editingName}}
      {{text-field value=model.name autofocus="true"}}
      {{d-button action="finishedEditingName" class="btn-primary btn-small submit-edit" icon="check"}}
      {{d-button action="cancelEditingName" class="btn-small cancel-edit" icon="times"}}
    {{else}}
      {{model.name}} <a {{action "startEditingName"}}>{{fa-icon "pencil"}}</a>
    {{/if}}
  </h2>

  <p>
    {{inline-edit-checkbox action="applyDefault" labelKey="admin.customize.theme.is_default" checked=model.default}}
    {{inline-edit-checkbox action="applyUserSelectable" labelKey="admin.customize.theme.user_selectable" checked=model.user_selectable}}
  </p>

  {{#if showSchemes}}
  <h3>{{i18n "admin.customize.theme.color_scheme"}}</h3>
  <p>{{i18n "admin.customize.theme.color_scheme_select"}}</p>
  <p>{{combo-box content=colorSchemes
                 nameProperty="name"
                 value=colorSchemeId
                 valueAttribute="id"}}
     {{#if colorSchemeChanged}}
        {{d-button action="changeScheme" class="btn-primary btn-small submit-edit" icon="check"}}
        {{d-button action="cancelChangeScheme" class="btn-small cancel-edit" icon="times"}}
     {{/if}}
  </p>
  {{#link-to 'adminCustomizeThemes.colors' class="btn edit"}}{{i18n 'admin.customize.colors.edit'}}{{/link-to}}
  {{/if}}

  <h3>{{i18n "admin.customize.theme.css_html"}}</h3>
  <p>{{i18n "admin.customize.theme.css_html_description"}}
  {{#link-to 'adminCustomizeThemes.edit' model.id "common" "scss" class="btn edit"}}{{i18n 'admin.customize.theme.edit'}}{{/link-to}}
  </p>

  {{#if availableChildThemes}}
    <h3>{{i18n "admin.customize.theme.included_themes"}}</h3>
    {{#unless model.childThemes.length}}
    <p>
      {{i18n "admin.customize.theme.no_child_themes"}}
    </p>
    {{else}}
    <ul>
      {{#each model.childThemes as |child|}}
        <li>{{child.name}} {{d-button action="removeChildTheme" actionParam=child class="btn-small cancel-edit" icon="times"}}</li>
      {{/each}}
    </ul>
    {{/unless}}
    {{#if selectableChildThemes}}
      <p>{{combo-box content=selectableChildThemes
                   nameProperty="name"
                   value=selectedChildThemeId
                   valueAttribute="id"}}

          {{#d-button action="addChildTheme" icon="plus"}}Add{{/d-button}}
      </p>
    {{/if}}
  {{/if}}

  <a class="btn export" target="_blank" href={{downloadUrl}}>{{fa-icon "download"}} {{i18n 'admin.export_json.button_text'}}</a>

  {{d-button action="destroy" label="admin.customize.delete" icon="trash" class="btn-danger"}}
</div>
